@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutSplash";
}


<center class="fullScreen">
    <h3 class="mainTitle textGradientRed">CMU Blockchain Group</h3>
    <h5 class="subTitle "><em>Creating the future, one block at a time.</em></h5>
    <br class="hide-on-med-and-up" />
    <img src="~/media/cbgLogo.png" alt="CBG Logo" class="logoMed" />
</center>

<div class="row" style="background-color: white; margin-top: 0px;">
    <center>
        <h4 class="sectionHeader black-text">Our Partners</h4>
    </center>
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <img src="~/media/partners/logoBaf.png" loading="lazy" class="responsive-img" />
            </div>
            <div class="col s12 l4">
                <img src="~/media/partners/logoSolana.png" loading="lazy" class="responsive-img" />
            </div>
            <div class="col s12 l4">
                <img src="~/media/partners/logoCylab.png" loading="lazy" class="responsive-img" />
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
                <img src="~/media/partners/logoParadigm.png" loading="lazy" class="responsive-img" />
            </div>
            <div class="col s12 l4">
                <img src="~/media/partners/logoRipple.png" loading="lazy" class="responsive-img" />
            </div>

            <div class="col s12 l4">
                <img src="~/media/partners/logoCelo.png" loading="lazy" class="responsive-img" />
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 0px;">
    <center>
        <h4 class="sectionHeader">What We Do</h4>
    </center>
    <div class="container">
        <div class="col s12 l4">
            <h4 class="blurbHeader">101</h4>
            <p>Senior members deliver weekly education sessions that simplify the complex world of blockchain.</p>
        </div>
        <div class="col s12 l4">
            <h4 class="blurbHeader">Labs</h4>
            <p>An incubator for CMU students to transform ideas into code that changes the world. Project teams are supported by community grants and in house advisors.</p>
        </div>
        <div class="col s12 l4">
            <h4 class="blurbHeader">Network</h4>
            <p>We connect the best blockchain companies with the best minds from Carnegie Mellon.</p>
        </div>
    </div>
</div>


<div class="row white-text" style="background-color: white; margin-top: 0px;">
    <center>
        <h4 class="sectionHeader black-text">Core Team</h4>
    </center>
    <br />
    <div class="container">
        <div class="col s8 offset-s2 l8 offset-l2">
            <div class="row">
                <div class="col s12 l4">
                    <img src="~/media/leaders/board2122/ishgun.jpg" loading="lazy" class="responsive-img" />
                    <h6 class="leaderName">Ishgun Arora</h6>
                </div>
                <div class="col s12 l4">
                    <img src="~/media/leaders/board2122/fernanda.jpg" loading="lazy" class="responsive-img" />
                    <h6 class="leaderName">Fernanda Molina</h6>
                </div>
                        @*<div class="col s12 l4">
                    <img src="~/media/leaders/board2122/jett.jpg" loading="lazy" class="responsive-img" />
                    <h6 class="leaderName">Jett Hays</h6>
                </div>*@
                <div class="col s12 l4">
                    <img src="~/media/leaders/board2122/jett.jpg" loading="lazy" class="responsive-img" />
                    <h6 class="leaderName">Jett Hays</h6>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <img src="~/media/leaders/board2122/nicolesun.jpg" loading="lazy" class="responsive-img" />
                    <h6 class="leaderName">Nicole Sun</h6>
                </div>
                <div class="col s12 l4">
                    <img src="~/media/leaders/board2122/xavier.jpg" loading="lazy" class="responsive-img" />
                    <h6 class="leaderName">Xavier Xia</h6>
                </div>
                <div class="col s12 l4">
                    <img src="~/media/leaders/board2122/darin.jpg" loading="lazy" class="responsive-img" />
                    <h6 class="leaderName">Darin Chaoui</h6>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4 offset-l4">
                    <img src="~/media/leaders/board2122/hao.jpg" loading="lazy" class="responsive-img" />
                    <h6 class="leaderName">Hao Wei</h6>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>


