@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<center>
    <h3 class="mainTitle textGradientRed">CMU Blockchain Group</h3>
    <h5 class="subTitle "><em>Creating the future, one block at a time.</em></h5>
    <img src="~/media/cbgLogo.png" alt="CBG Logo" class="logoMed" />
</center>
