@page
@model CbgSite.Areas.Projects.Pages.IndexModel
@{
    ViewData["Title"] = "Project Page";
}

<div class="col s12 l10 offset-l1">
    <div class="row">
        <div class="center">
            <img src="@Model.Project.ThumbnailPath" class="logoMed">
        </div>
        <div class="projectContent">
            <h4>@Model.Project.Name</h4>
            <h6>Summary</h6>
            <p>@Model.Project.Description</p>
            @if (!String.IsNullOrEmpty(Model.Project.DescriptionLong))
            {
                <h6>Description</h6>
                <p>@Model.Project.DescriptionLong</p>
            }
        </div>
    </div>
</div>
