@section Scripts {
    @RenderSection("Scripts", required: false)
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The Carnegie Mellon Blockchain club is focused on devloping and understanding the decentralized future.">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/media/icon.ico">
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MATERIALIZE COMPONENTS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mainStyle.css" />

    <style>
        header, main, footer {
            padding-left: 300px;
            padding-right: 80px;
        }

        @@media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 2px;
                padding-right: 2px;
            }
        }

        .container {
            margin-top: 45px;
            position: relative;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>

<body>
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>



    <nav class="z-depth-0 hide-on-large-only black">
        <div class="nav-wrapper">
            <a href="#" data-activates="slideOut" class="button-collapse"><i class="white-text material-icons">menu</i></a>
        </div>
    </nav>

    <div class="row">
        <br />
        <br />
        <ul id="nav-mobile" class="side-nav side-nav white-text fixed col l2" style="background-color: #73ffb0">
            <partial name="_ManageNav" />

        </ul>
    </div>


    <ul class="right side-nav side-nav white z-depth-0" id="slideOut">
        <br>
        <partial name="_ManageNav" />
    </ul>

    <main id="allContent">

        <div id="pageContent">
            <br />
            <div class="row">
                <div class="col s12 offset-l2 l8">
                    @RenderBody()
                </div>
            </div>
        </div>

        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)


    </main>
</body>

</html>