@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <form id="profile-form" method="post" asp-page-handler="UpdateMember">
        @*basic info*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="input-field col l6 s12">
                <label asp-for="Username"></label>
                <input type="text" asp-for="Username" disabled />
            </div>*@
        <div class="input-field col l3 s12" hidden>
            <input type="text" asp-for="Member.Id" hidden />
        </div>
        <div class="input-field col l3 s12" hidden>
            <input type="text" asp-for="Member.ProfilePhotoPath" hidden />
        </div>
        <div class="input-field col l6 s12">
            <label asp-for="Member.Name"></label>
            <input type="text" asp-for="Member.Name" />
        </div>
        @*bio*@
        <div class="input-field col l12 s12">
            <label asp-for="Member.AboutMe">About Me</label>
            <textarea asp-for="Member.AboutMe" id="aboutMe" placeholder="Who makes you, you..." class="materialize-textarea" data-length="500"></textarea>
        </div>
        <br />
        <div class="col s12">
            <p class="headerInfo">Social Links</p>
        </div>
        @*external links*@
        <div class="input-field col l4 s12">
            <label asp-for="Member.LinkGithub">Github</label>
            <input type="text" asp-for="Member.LinkGithub" />
        </div>
        <div class="input-field col l4 s12">
            <label asp-for="Member.LinkTwitter">Twitter</label>
            <input type="text" asp-for="Member.LinkTwitter" />
        </div>
        <div class="input-field col l4 s12">
            <label asp-for="Member.LinkLinkedIn">LinkedIn</label>
            <input type="text" asp-for="Member.LinkLinkedIn" />
        </div>
        @*<div class="input-field offset-l6 col l6 s12">
                <label asp-for="Input.PhoneNumber"></label>
                <input type="text" asp-for="Input.PhoneNumber" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                <button id="update-profile-button" type="submit" class="btn btn-primary right">Save</button>
            </div>*@
        <input type="hidden" id="mainTags" asp-for="Input.Tags" />
        <div class="input-field offset-l6 col l6 s12">
            <button id="update-profile-button" type="submit" class="btn btn-primary right">Save</button>
        </div>
    </form>
    <div class="col s12 l12">
        <hr />
        <br />
        <h4>Interests</h4>
        <p class="instructions">What aspects of crypto are you interested in?</p>
        <p class="instructions">When you add your interests, you will be matched with students and employers for personalized projects and education.</p>
        <div id="tagChips" class="col l12 s12">
            @foreach (var tag in Model.Tags)
            {
                <div class="chip" data-id="@tag.Id">
                    @tag.Content
                    <i class="close material-icons">close</i>
                </div>
            }
        </div>
        <span class="labelFor">Interests:</span>
        <div>
            <div class="input-field inline">
                <i id="clearIcon" style="position: absolute; right: 0px;" class="material-icons tiny" hidden>close</i>
                <form method="post" id="searchForm" data-ajax="true" data-ajax-method="post" data-ajax-complete="ShowSearchTagsResult" asp-page-handler="SearchTags">
                    <input type="hidden" id="searchTags" asp-for="Input.TagsOnQuery" />
                    <input type="hidden" id="loadTags" asp-for="Input.TagsOnLoad" />
                    <input id="tags" data-selected="false" type="text" placeholder="Bitcoin, Defi, etc." class="validate align-right" asp-for="Input.SearchStringAsync">
                </form>
                <form method="post" id="addTagForm" data-ajax="true" data-ajax-method="post" data-ajax-complete="AddTagResult" asp-page-handler="AddTag">
                    <input type="hidden" id="tagOnPost" asp-for="Input.TagAddOnPost" />
                </form>
                <form method="post" id="removeTagForm" data-ajax="true" data-ajax-method="post" data-ajax-complete="RemoveTagResult" asp-page-handler="RemoveTag">
                    <input type="hidden" id="tagRemoveOnPost" asp-for="Input.TagRemoveOnPost" />
                </form>
            </div>
        </div>
    </div>
    <div class="col l6 s12">
        <div id="searchTagContainer">

        </div>
    </div>
    <div class="section"></div>
    <div class="section"></div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }


    <script src="~/js/SearchManager.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"
            integrity="sha256-PAC000yuHt78nszJ2RO0OiDMu/uLzPLRlYTk8J3AO10="
            crossorigin="anonymous"></script>
