@page
@model CbgSite.Areas.Projects.Pages.Manage.IndexModel
@{
    ViewData["Title"] = " Manage Projects";
}


<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Leader</th>
            <th>Is Public</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>
                    @project.Name <i class="material-icons tiny">edit</i>
                </td>
                <td>
                    
                </td>
                <td>
                    @project.IsPublic
                </td>
            </tr>
        }
    </tbody>
</table>
