body {
    color: white !important;
    background-color: black;
    font-size: 22px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.fullScreen {
    height: 90vh;
}

.navLinks{
    color: white !important;
}

    .navLinks:hover {
        color: #70ff99 !important;
    }


.logoSmall {
    width: 58px;
    margin-top: 2%;
}

.logoMed {
    width: 25%;
}

.mainTitle {
    margin-bottom: 3%
}

.subTitle {
    margin-bottom: 2%
}

.signature {
    font-size: .9em;
    font-weight: 600;
    font-style: italic;
}

@media (max-width: 600px) {
    .logoMed {
        width: 55%;
    }

    .subTitle {
        margin-bottom: 4%
    }
}

.sectionHeader {
    padding-top: 1.4%;
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.4em;
}

.blurbHeader {
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.8em;
    border-bottom: 5px solid white;
    padding-bottom: 3px;
}

.blurb {
    font-family: Roboto;
    font-size: 1vw;
    text-decoration: underline;
}


.instructions {
    font-size: .9vw;
}

.textGradientRed {
    background-image: linear-gradient(to right, #ffffff, #ff4747);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.textGradientGreen {
    background-image: linear-gradient(to right, #ffffff, #53e67a);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.textGradientBlue {
    background-image: linear-gradient(to right, #61ff83, #4ac9ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

tbody tr:hover {
    background-color: #ff697d
}


.btnDanager {
    background: #ff3e30;
}

.infoHeader {
    font-weight: 480;
}

a:hover {
    cursor: pointer;
}

/* label focus color */
.input-field input:focus + label {
    color: #00c3ff !important;
}
/* label underline focus color */
.row .input-field input:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #45ffbb !important;
    box-shadow: 0 1px 0 0 #45ffbb !important
}

.row .pword-field input:focus {
    border-bottom: 1px solid #45ffbb !important;
    box-shadow: 0 1px 0 0 #45ffbb !important
}

/* label focus color */
.input-field textarea:focus + label {
    color: #00c3ff !important;
}
/* label underline focus color */
.row .input-field textarea:focus {
    border-bottom: 1px solid #45ffbb !important;
    box-shadow: 0 1px 0 0 #45ffbb !important
}


input[type="text"]:disabled {
    color: #cfcfcf !important;
}

/* switch color style */

.switch label input[type=checkbox]:checked + .lever {
    background-color: #45ffbb;
}

    .switch label input[type=checkbox]:checked + .lever:after {
        background-color: #45ffbb;
    }


/* checkbox color */


.checkbox-blue[type="checkbox"]:checked + label:after {
    border: 2px solid #00a6ff;
    background-color: #00b6ff;
    color: white;
}

.btnPrimary {
    border-radius: 3px 3px 3px 3px;
    background-color: #40ffb9;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: Verdana;
}

    .btnPrimary:hover {
        background-color: #75ffcd;
    }

/* project style */

.hoverable {
    box-shadow: 0 2px 2px 0 black, 0 3px 1px -2px black, 0 1px 5px 0 black;
}

    .hoverable:hover {
        box-shadow: 2px 4px 5px 0 #66ffa3, 2px 5px 3px -3px #66ffa3, 2px 5px 10px 0 #66ffa3;
    }

.projectCard {
    background-color: #000000;
    border: solid white 1px;
    padding: 2px;
}

;

.projectLink {
    color: #40ff8c !important
}

.projectLink:hover {
    color: #59ff9c !important
}

.socialIcon {
    width: 48px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}




/* toast style */

#toasts {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
    z-index: 99;
    font-weight: 400;
}

    .toast.info {
        background-image: linear-gradient(to right, #4ad8ff, #05a0fa);
        color: white;
    }

    .toast.success {
        background-image: linear-gradient(to right, #4ad8ff, #09ed7b);
        color: white;
    }

    .toast.error {
        background-image: linear-gradient(to right, #4ad8ff, #ff4a4a);
        color: white;
    }


/*file style*/


.btn-file {
    color: black;
    background-color: white;
    border-width: thin;
    border-color: #00ff99;
}

.btn-file:hover {
    color: white;
    background-color: #00e673;
}

/* user style */

.profilePhoto {
    max-width: 90px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.profileFullName {
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: white;
}

.profileUserName {
    font-style: italic;
    font-size: 16px;
    color: #42c5f5;
    margin-top: 2px
}

/* indicator text style*/

.headerInfo {
    font-weight: bold;
    font-size: 16px;
    color: white;
}

/* search style*/

.searchBox {
    padding: 7px;
    border-radius: 25px 25px 25px 25px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}


    .searchBox:hover {
        border-color: #00b6ff;
    }


.searchUserResult {
    color: aquamarine;
    display: inline;
    float: left
}

.searchUserTag {
    color: aquamarine;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 5px;
}

.searchUserFullName {
    color: aquamarine;
    font-size: 16px;
    font-weight: bold;
}

.profilePhotoSearch {
    max-width: 50px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#clearIcon:hover{
    cursor: pointer;
}
