@page
@model CbgSite.Areas.Members.Pages.IndexModel
@{
}


<center>

    <img src="@Model.Member.ProfilePhotoPath" alt="" class="circle profilePhoto">
    <p class="profileFullName">@Model.Member.Name</p>

</center>