@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<p>Sorry, you are not authorized to access this page.</p>
<p>If you believe there is a mistake, please contact <a href="mailto:jehays@andrew.cmu.edu?subject = CBG Page Access">the crypto wizard</a>.</p>